body {
    background-color: #303030;
}

h1, h2, h3, h4, p, ul, ol {
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    color: #303030;
    margin: 20px;
    font-size: 1em;
}

p {
    font-family: Arial, Helvetica, sans-serif;
    line-height: 1.3em;
}

h1 {
    font-size: 1.3em;
    color: darkred;
}

h2 {
    font-size: 1.3em;
    text-transform: uppercase;
    text-align: center;
}

img {
    margin: 35px;
}

.imgself {
    border-radius: 50%;
    margin: 20px;
    align-self: auto;
    max-width: auto;
    max-height: auto;
}

.raadjeplaatje {
    margin: 20px;
    padding-left: 70px;
    align-self: center;
}

ul {
    margin-left: 30px;
    list-style-type: square;
    line-height: 20px;
}

ol {
    margin-left: 40px;
    line-height: 20px;
    list-style-type: decimal;
}

.header {
    width: 80%;
    padding-top: 20px;
    margin: auto;
    background-color: white;
    border-bottom-left-radius: 8px;
    border-bottom-right-radius: 8px;
}

.navbar {
    display: flex;
    justify-content: space-around;
    margin: 20px 20px 0px 20px;
    padding-bottom: 10px;
}

.navbutton {
    width: 25%;
    height: 50px;
    text-align: center;
    line-height: 50px;
    border-bottom: 1px solid #C1C1C1;
    border-top: 1px solid #C1C1C1;
}

.navbutton:hover {
    background-color: rgba(208, 208, 208, 0.34);
}

.navtext {
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    color: #303030;
    font-size: 1.2em;
    text-decoration: none;
}

.navtext:hover {
    color: white;
    text-shadow: 0px 0px 5px #C1C1C1;
}

.main {
    width: 80%;
    margin: 20px auto;
    background-color: white;
    display: flex;
    flex-wrap: wrap-reverse;
    justify-content: space-around;
}

.main2 {
    width: 80%;
    margin: 20px auto;
    background-color: white;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
}

.article {
    max-width: 600px;
    margin: 30px;
    background-color: #F4F4F4;
}

.article2 {
    margin: 30px;
    background-color: #F4F4F4;
}

.article3 {
    max-width: 270px;
    margin: 30px;
    background-color: #F4F4F4;
}

.grid {
    margin: 30px;
    max-width: 510px;
    background-color: #F4F4F4;
}